<div class="showcase-card d-flex flex-column flex-md-row">
  <div class="showcase-card-image">
    {{ with .Params.image }}
      <a href="{{ $.Permalink }}"><img src="{{ . }}" alt="{{ $.Title }}"/></a>
    {{ else }}
      <a href="{{ $.Permalink }}" class="showcase-card-image-placeholder">{{ $.Title }}</a>
    {{ end }}
  </div>
  <div class="showcase-card-desc">
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <p>{{ .Params.description | markdownify }}</p>
    {{ with .Params.result }}
    <div class="showcase-result-chip">Result</div>
    <p>{{ . | markdownify }}</p>
    {{ end }}
    <div>{{ partial "techtags" . }}</div>
  </div>
</div>
