{{ if .Site.Params.showSocializations }}
<ul class="list-inline list-social-icons mb-0">
  {{ range .Site.Params.handles }}
      {{ $key := .icon }}
      {{ if not $key }}{{ $key = lower (replace .name " " "") }}{{ end }}
      {{ $icon := index $.Site.Data.icons $key }}
      <li class="list-inline-item">
        <a href="{{ .link }}" data-toggle="tooltip" title="{{ .name }}" data-offset="0,10" rel="me noopener noreferrer" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            {{ if $icon }}
              <svg class="social-svg-icon" data-icon="{{ $key }}" viewBox="{{ $icon.viewBox }}" role="img" aria-label="{{ .name }}"><path d="{{ $icon.path }}"></path></svg>
            {{ else }}
              <i class="{{ if .iconClass }}{{ .iconClass }}{{ else }}fab {{ if .icon }}fa-{{ .icon }}{{ else }}fa-{{ lower .name }}{{ end }}{{ end }} fa-stack-1x fa-inverse"></i>
            {{ end }}
          </span>
        </a>
      </li>
  {{ end }}
</ul>
{{ end }}
